input{
    height: 8vh;
    width: 100%;
    border-radius: 25px;
    padding:3vh;
    font-family: cursive;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.62);
}

.searchbox{
    margin-top: 20vh;  
}