body {
    font-family: sans-serif;
}

.input {
    height: 6vh;
    width: 100%;
    border-radius: 15px;
    padding-left: 3vh;
    font-family: cursive;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.78);
}

.searchbox {
    margin-top: 15vh;
    width: 35%;
}

.latesttrends {
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.78);
    width: 50%;
    margin-top: 5vh;
    background-color: white;
    border-radius: 15px;
}

.card {
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
}

.cardlarge {
    width: 20%;
    margin: 1%;
    margin-bottom: 2%;
}

.container {
    font-size: small;
}

#imgsmall {
    width: 100%;
    border-radius: 15%;
    background-size: 'cover'
}

#imglarge {
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-size: 'cover';
}

#flexcol {
    display: flex;
    justify-content: space-around;
}

#trends {
    padding: 2%;
    padding-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#topb0 {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 4%;
}

#small {
    font-size: medium;
    padding-left: 4%;
    margin: 1%;
    line-height: 2;
    font-weight: 500;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchboxresult {
    margin-top: 4vh;
    width: 35%;
}

.collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 0.5vw;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}


.show {
    display: flex;
}

.left {
    width: 15%;
}

.right {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
}

hr {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.ml {
    margin: 3vw;
}

.boxes {
    display: flex;
    margin: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.checked {
    color: orange;
}

#prod {
    font-size: large;
    font-weight: 700;
}

.prod {
    font-size: large;
    font-weight: 700;
    margin: 0 2%;

}

.sale {
    display: flex;

}

#mleft {
    margin-left: 0.6vw;
}

.imagecontainer{
    position: relative;
}