body {
    font-family: sans-serif;
}

.input {
    height: 6vh;
    width: 100%;
    border-radius: 2em;
    padding-left: 3vh;
    font-family: cursive;
    font-size: 100%;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.78);
}

.searchbox {
    margin-top: 15vh;
    width: 35%;
}

.searchpage {
    padding-bottom: 6%;
}


.latesttrends {
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.78);
    width: 60%;
    margin-top: 10vh;
    background-color: white;
    border-radius: 15px;
    padding: 1%
}

.card {
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
}

.cardlarge {
    width: 20%;
    margin: 1%;
    margin-bottom: 3%;
    margin-top: 0%;
}

.container {
    font-size: small;
}

#imgsmall {
    width: 100%;
    border-radius: 15%;
    background-size: 'cover'
}

#imglarge {
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-size: 'cover';
}

#flexcol {
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
}

#trends {
    padding: 1%;
    padding-top: 2%;
    padding-left: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: larger;
}

#topb0 {
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 4%;
    font-size: larger;
}

#small {
    font-size: large;
    padding-left: 4%;
    margin: 1%;
    line-height: 2;
    font-weight: 500;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchboxresult {
    margin-top: 4vh;
    width: 35%;
}

.collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 0.5vw;
    width: 100%;
    border: none;
    text-align: left;
    align-items: center;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}


.show {
    display: flex;
}

.left {
    width: 15%;
    margin-top: 0%;
}

.right {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

hr {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.ml {
    margin: 4vh;
    margin-top: 8vh;
}

.boxes {
    display: flex;
    margin: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.checked {
    color: orange;
}

#prod {
    font-size: large;
    font-weight: 700;
}

.prod {
    font-size: large;
    font-weight: 700;
    margin: 0 2%;

}

.sale {
    display: flex;

}

#mleft {
    margin-left: 0.6vw;
}

.imagecontainer {
    position: relative;
}

#icon {
    position: absolute;
    top: 5%;
    right: 6%;
}

#viewprod {
    position: absolute;
    background-color: rgb(102, 102, 255);
    opacity: 60%;
    bottom: 0%;
    width: 100%;
    height: 15%;
    padding-top: 5%;

}

#viewprodtext {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 15%;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    padding-top: 6%;
    color: white;
}

.shared-class {
    color: red;
    size: 50;
}

@media only screen and (max-width: 1200px) {
    .latesttrends {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .cardlarge {
        width: 28%;
        margin-bottom: 4%;
    }

    .searchboxresult {
        width: 50%;
    }

    .searchbox {
        width: 50%;
    }

    .latesttrends {
        width: 80%;
    }

    .card {
        width: 20%;
    }

    #small {
        font-size: medium;
        padding-left: 4%;
        margin: 1%;
        line-height: 2;
        font-weight: 500;
    }
}

@media only screen and (max-width: 700px) {
    .left {
        width: 25%;
    }

    .cardlarge {
        width: 40%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .left {
        width: 30%;
    }

    .cardlarge {
        width: 80%;
        margin-bottom: 8%;
    }
}

@media only screen and (max-width: 430px) {
    .left {
        width: 35%;
    }

    .cardlarge {
        width: 85%;
        margin-bottom: 8%;
    }

    .searchboxresult {
        width: 60%;
    }

    .searchbox {
        width: 60%;
    }

    .latesttrends {
        width: 90%;
    }

    #flexcol {
        padding-left: 0%;
        padding-right: 0%;
    }

    .card {
        width: 25%;
    }
}